{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Add New Product</h3>
            <form method="post">
                <div class="form-group">
                    <label>Product Id :</label>
                    <div>
                        <input name="product_id" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Product Name :</label>
                    <div>
                        <input name="product_name" />
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>Price :</label>
                        <div>
                            <input name="price" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>Category :</label>
                        <div>
                            <select name="category_id">
                                <option value="0"></option>
                                {%for cat in catlist:%}
                                <option value="{{cat.category_id}}">
                                    {{cat.category_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>Stock Level :</label>
                        <div>
                            <input name="stock_level" />
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">
                    Add New Product
                </button>
            </form>
        </div>
    </div>
</div>
<p>
    {{msg}}</msg>
    {% endblock %}
